
[Unit]
Description=RTL 433 Data Streaming Service
After=multi-user.target

[Service]
User=pi
Group=pi
Type=idle
ExecStart=/usr/local/bin/rtl_433 -F syslog:1433
Restart=on-failure

[Install]
WantedBy=multi-user.target