
[Unit]
Description=RTL 433 Temp Collection Service
After=multi-user.target

[Service]
User=bobrock
Group=bobrock
Type=idle
ExecStart=/usr/local/bin/rtl_433 -F json | /home/bobrock/venvs/pitools/bin/python3 /home/bobrock/extras/pitools/scripts/rf_temps/rf_temp_collector.py
Restart=on-failure

[Install]
WantedBy=multi-user.target